<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <h2 class="title">Blogs</h2>

    <div class="content grid">
      <% if(blogs.length > 0) %> <% blogs.forEach( blog=>{ %>
      <div class="post">
        <a href="/blogs/show/<%= blog._id %>">
          <h3 class="post-title"><%= blog.title %></h3>
          <div class="post-snippet"><%= blog.snippet %></div>
        </a>
      </div>
      <% }) %>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
