<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>

    <div class="grid-container">
      <div class="profile-avatar-container">
        <img
        class="profile-avatar"
        src="https://avatars.dicebear.com/api/micah/<%= person.fname %> <%= person.lname %>.svg"
        alt="avatar"
      />
      </div>
     
      <h3 class="profile-name"><%= person.fname %> <%= person.lname %></h3>
      <h4 class="profile-email"><%= person.email %></h4>
    </div>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
