<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/nav.ejs') %>

    <div class="grid-container">
      <div class="post-author"> 
        <img
          class="post-author-avatar"
          src="https://avatars.dicebear.com/api/micah/<%= blog.creatorName %>.svg"
          alt="avatar"
        />

        <span class="post-author-name"><%= blog.creatorName %></span>
        <span class="post-created-date"
          ><%= blog.createdAt.toString().substring(3,10) %>
        </span>
      </div>
      <h3 class="post-title"><%= blog.title %> | <%= blog.topic %></h3>
      <div class="post-snippet"><%= blog.snippet %></div>
      <div class="post-content"><%= blog.content %></div>

      <div class="post-links">
        <a href="/blogs/update-blog/<%= blog._id %>"> Update</a>
        <a href="/blogs/delete-blog/<%= blog._id %>"> Delete</a>
      </div>
    </div>

    <div class="grid-container">
      <div class="post-comment-form">
        <h4>Post comments</h4>
        <% if(user) { %>

        <form>
          <input
            type="hidden"
            id="createdBy"
            name="createdBy"
            value="<%= user._id %>"
          />
          <input
            type="hidden"
            id="creatorName"
            name="creatorName"
            value="<%= user.fname %> <%= user.lname %>"
          />

          <input id="belongsTo" type="hidden" value="<%= blog._id %>" />
          <textarea name="comment" id="comment" cols="30" rows="5"></textarea>
          <br />
          <span class="error" id="commentErr"></span><br />
          <button class="post-comment-btn">Post comment</button>
        </form>
        <br />
        <br />
        <h4>Comments</h4>
        <br />
        <div class="comments"></div>

        <%} %>
        <br /><br /><br />
      </div>
    </div>

    <script>
      const belongsTo = document.getElementById("belongsTo").value;
      const commentEl = document.querySelector(".comments");
      let commentInptEl = document.getElementById("comment");
      commentInptEl.value = "";

      window.addEventListener("load", async (e) => {
        try {
          const resposnse = await fetch(`/comments/${belongsTo}`);

          const data = await resposnse.json();
          // console.log(data);

          if (data.comments.length > 0) {
            data.comments.forEach((com) => {
              const cmnt = document.createElement("div");
              cmnt.innerHTML = `<img
              class="cmnt-author-avatar"
              src="https://avatars.dicebear.com/api/micah/${
                com.creatorName
              }.svg"
              alt="avatar" />
              <span class="comment-author-name">${com.creatorName}</span>
              <span class="comment-created-date"
          >${com.createdAt.toString().substring(2 , 10)}
        </span>
              <p  class="comment-subject">${com.comment}</p>`;
              commentEl.appendChild(cmnt);
            });
          } else {
          }

          commentEl.innerHTML = commentList;
        } catch (err) {
          console.log(err);
        }
      });
    </script>

    <script>
      const form = document.querySelector("form");
      const commentErr = document.getElementById("commentErr");

      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        const comment = document.getElementById("comment").value;
        const creatorName = document.getElementById("creatorName").value;
        const createdBy = document.getElementById("createdBy").value;
        const belongsTo = document.getElementById("belongsTo").value;

        console.log(comment, creatorName, createdBy);

        try {
          const res = await fetch("/comments/create-comment", {
            method: "POST",
            body: JSON.stringify({
              comment,
              creatorName,
              createdBy,
              belongsTo,
            }),
            headers: {
              "Content-Type": "application/json",
            },
          });
          const data = await res.json();
          console.log(data);

          if (data.errors) {
            commentErr.textContent = data.errors.comment;
          } else {
            location.reload();
          }
        } catch (err) {
          console.log(err);
        }
      });
    </script>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
